body{
    background-color: rgb(0, 0, 0);
}
main{
    height: 100vh;
}
.head_main{
    background-color: rgb(43, 134, 226);
    width: 100%;
    height: 100px;
}
.footer_main{
    background-color: rgb(29, 113, 30);
    height: 20px;
}